.column-style {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-edit{
  color: #0491ff;
}

.profile-container{
  width: 100%;
  margin: 20px auto;
  background-color: #e4e4e4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 12px;
}

.profile-actions span{
  margin: 0 5px;
  cursor: pointer;
}