.wd-search-panel {
  margin-bottom: 8px;
}

.wd-input-icons i {
  position: absolute;
}

.wd-icon {
  padding: 12px 20px 10px 10px;
  min-width: 40px;
}

input.wd-search-box {
  border-radius: 50px;
  border-color: lightgrey;
  border-width: 1px;
  color: black;
  width: 100%;
  padding: 10px 20px 10px 30px;
}
